<tr>
		<td><%= con.content%></td>
		<td>
			<div class="button secondary">
			<%= link_to 'edit', edit_con_path(con)%>
			</div>
		</td>
		<td>
			<div class="button secondary">
				<%= link_to 'destroy', [con], method: :delete, data: { confirm:"sure?"}%>
			</div>
		</td>
	</tr>