<div class="row">
	<div class="large-1 columns">
		<div class="button secondary">
			<%= link_to 'back', app_path(@con.app_id) %>
		</div>
	</div>
	<div class="large-10 columns">
		<h1>Editing con for application</h1>
	</div>
</div>

<%= render 'form_edit'%>
