<div class="row">
	<div class="large-1 columns">
		<div class="button secondary">
			<%= link_to 'back', category_path %>
		</div>
	</div>
	
	<div class="large-7 large-offset-2 columns">
		<h1>Editing category <%= @category.name.capitalize %></h1>
	</div>
</div>


<%= render 'form'%>



