<div class="row">
	<div class="large-12  columns">
		<h1>Iphone-App-World Administation pages</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="button secondary">
			<%= link_to 'Show & edit categories', controller: 'categories'%>
		</div>
		<div class="button secondary">
			<%= link_to 'Show top 10', controller: 'top10s'%>
		</div>
	</div>
</div>


