<p>
  <strong>Url</strong>
  <%= image.name %>
 <!-- %= image_tag image.image.url %> -->
 <img src="<%=image.image.url%>">
</p>
 
 <p>
 	<%= link_to "destroy url", [image], method: :delete, data:{ confirm: "will destroy url"} %>
 </p>