
<tr>
		<td><%= app.name%></td>
		<td><%= link_to 'show', [app.category, app]%></td>
		<td><%= link_to 'edit', [app.category, app]%></td>
		<td><%= link_to 'destroy', [app.category, app], method: :delete, data: { confirm:"sure?"}%></td>
	</tr>