<div class="row">
	<div class="large-10 large-offset-2 columns">
		<h1>New Pro for <%= @app.name.capitalize %></h1>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<div class="button secondary">
			<%= link_to 'Back to Application', app_path(@app) %>
		</div>
	</div>
</div>
<%= render 'form' %>